name: MLCMS_GroupI
channels:
  - defaults
  - pytorch
dependencies:
  - python=3.10
  - numpy=1.26
  - matplotlib=3.8
  - pandas=2.1.1
  - scikit-learn=1.3.0
  - pytorch::pytorch=2.1
  - pytorch::torchvision
  - pytorch::torchaudio
  - jupyter
  
